# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# IDE configurations
.idea
.vscode/*

# Hidden system files
*~
.DS_Store
Thumbs.db
.claude/
